// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,400;0,600;1,100&family=Merriweather:wght@300&family=Montserrat:ital,wght@0,100;0,400;0,500;1,100;1,400;1,500&family=Roboto+Mono:wght@100;400&family=Sacramento&family=Shadows+Into+Light&family=Space+Mono:wght@400;700&family=Work+Sans:wght@200;400&display=swap');
// Define fonts for body and headers
$body-font: "Open Sans";
$headers-font: "Open Sans";

h1 {
  font-style: "Prata', serif" !important;
}

h2 {
  font-size: 23px !important;
}

body {
  font-weight: 200;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
