<h1>Listings index</h1>
<div class="cards">
      <% @listings.each do |listing| %>
      <div class="card-item">
        <%= cl_image_tag listing.photo.key %>
        <div class="card-item-infos">
          <div>
            <div class="card-item-brand"><%= listing.brand %></div>
            <div class="card-item-size"><%= listing.size %></div>
          </div>
          <div>
            <div class="card-item-likes">
              <div class="card-nb-likes">6</div>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
        </div>
      </div>
      <% end %>
</div>
