<h1>Best rentals</h1>

<div class="page-container">
  <div class="cards">
        <% @listings.each do |listing| %>
        <div class="card-item">
          <%= link_to listing_path(listing) do %>
          <%= cl_image_tag listing.photo.key%>
          <% end %>
          <div class="card-item-infos">
            <div>
              <div class="card-item-brand"><%= listing.brand %></div>
              <div class="card-item-size"><%= listing.size %></div>
            </div>
            <div>
              <div class="card-item-likes">
                <div class="card-nb-likes">6</div>
                <i class="fa-regular fa-heart"></i>
              </div>
            </div>
          </div>
        </div>
        <% end %>
  </div>
</div>
