<h1>Listings index</h1>
<div class="cards">
      <div class="card-item">
        <img src="https://cdna.lystit.com/photos/asos/38b570a0/asos-Green-Embellished-Cami-Midi-Dress.jpeg" alt="">
        <div class="card-item-infos">
          <div>
            <div class="card-item-brand">Brand</div>
            <div class="card-item-size">size</div>
          </div>
          <div>
            <div class="card-item-likes">
              <div class="card-nb-likes">6</div>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="card-item">
        <img src="https://static.fursac.com/data/suit-men-separate-suits-yellow-22ec3vato-vx1353-pl0121104.1642615079.jpg" alt="">
        <div class="card-item-infos">
          <div>
            <div class="card-item-brand">Brand</div>
            <div class="card-item-size">size</div>
          </div>
          <div>
            <div class="card-item-likes">
              <div class="card-nb-likes">6</div>
              <i class="fa-regular fa-heart"></i>
            </div>
          </div>
        </div>
      </div>
</div>
