// DISPLAY
.cards-dash {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  margin: 20px;
  justify-content: space-around;
}

// CARDS

.card-item-dash {
  padding: 10px;
  width: 500px;
  height: 230px;
  background: #fffbfb;
  // margin-bottom: 30px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.10) 0px 8px 16px 0px;
}

.card-item-dash img {
  height: 210px;
  width: 145px;
  object-fit: cover;
}


.card-item-dash .card-item-infos-dash {
  display: flex;
  color: black;
  // justify-content: space-between;
  // align-items: flex-start;

}

.card-item-date-dash {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-inline: auto;

  .card-date-start {
    font-size: 16px;
    margin: 0;

    p {
      font-weight: bold;
    }
  }

  .card-status {
    font-size: 16px;
    margin: 0;

    p {
      font-weight: bold;
    }

  }

  .card-user-listing {
    font-size: 16px;
    margin: 0;
    display: flex;

    p {
      font-weight: bold;
    }
  }
}

// .card-item-brand-dash {
//   font-size: 16px;
//   font-weight: bold;
//   margin: 0;
// }

// .card-item-size-dash {
//   font-size: 10px;
//   opacity: 0.8;
//   margin: 0;

//   .sizenb {
//   font-size: 16px
// }
