// Specific CSS for your home-page
.my-container {
  max-width: 1100px;
  margin: 0px auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

.my-container2 {
  max-width: 1100px;
  margin: 0px auto;
  margin-top: 70px;
  margin-bottom: 50px;
}
