.wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-white {
  color: $white;
  background-color: $black;
  text-decoration: none;
  padding: 13px;
  width: 200px;
  height: 45px;
  font-size: 14px;

}

.btn-white:hover {
  color: $black;
  background-color: $white;
  border: none;
}

.btn-signup-forgotpassword {
  color: $black;
  background-color: $white;
  text-decoration: none;
  width: 200px;
  height: 45px;
  font-size: 14px;
  border: solid $black;
}

.btn-signup-forgotpassword:hover {
    color: $white;
    background-color: $black;
    border: none;
}

a.btn.btn-forgotpassword.py-2 {
  font-size: 12px;
}



.input-form {
  margin-top: 26px;
}

.signuptitle h2 {
  margin-bottom: 10px;
  margin-top: 0px !important;
  font-weight: 400;
  color: $black;
}

.signupform {
  width: 500px;
  height: 500px;
  background-color: $white;
  color: $white;
  padding: 0px 40px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  border: solid $black;

    p {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: 14px;
      color: black;
    }
  .form-text {
    margin-top: 0.25rem;
    font-size: 12px;
    color: $black;
  }

}

.input-form {
  color: $black;
  background-color: $white;
  font-size: 14px;
}

.form-actions {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.sizingimage {
  width: 420px;
  height: 620px;
  object-fit: cover;
}

label.form-check-label.boolean.optional {
  color: $black;
  font-size: 14px;
}
