<div class="footer">
  <div class="dropup">
      <button class="dropbtn"><i class="fa-solid fa-bars"></i></button>
    <div class="dropup-content">
      <a href="#">About Us</a>
      <a href="#">Shipping</a>
      <a href="#">Payment</a>
      <%= link_to "Insurance", insurance_path%>
      <a href="#">Newsletter</a>
      <a href="#">Cookies</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms and Conditions</a>

    </div>
  </div>
  <div class="footer-right">
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
</div>
