<div class="search-container">
<div class="searchdown">
  <button class="dropsearchbtn">Category</button>
    <div class="searchdown-content">
    <a href="#">All in dresses</a>
    <a href="#">Casual dresses</a>
    <%= link_to "Slim Fit Suits", listings_path(category: "Men")%>
    <a href="#">Evening dresses</a>
    <a href="#">Occasion dresses</a>
    <a href="#">Shirt dresses</a>
    <a href="#">Jersey dresses</a>
    <a href="#">Shift dresses</a>
    <a href="#">Maxi dresses</a>
     <a href="#">Denim dresses</a>
    <a href="#">Knitted dresses</a>
    <a href="#">Wedding dresses</a>
    <a href="#">Cocktail dresses</a>
    </div>
</div>
<div class="searchdown">
  <button class="dropsearchbtn">Sort By</button>
    <div class="searchdown-content">
      <a href="#">New</a>
      <a href="#">Sale</a>
      <a href="#">Hot Rentals</a>
      <a href="#">Price Low / High</a>
      <a href="#">Price High / Low</a>

    </div>
</div>
<div class="searchdown">
  <button class="dropsearchbtn">Brand</i></button>
    <div class="searchdown-content">
      <a href="#">AllSaints</a>
      <a href="#">Angeleye</a>
      <a href="#">Brogger</a>
      <a href="#">By Malina</a>
      <a href="#">Cinq a Sept</a>
      <a href="#">David Koma</a>
      <a href="#">Fabienne Chapot</a>
      <a href="#">Hugo</a>
      <a href="#">Ivy</a>
      <a href="#">Jarlo Tall</a>
      <a href="#">Ralph Lauren</a>
      <a href="#">Miista</a>
      <a href="#">NA-KD</a>
      <a href="#">Paco Rabanna</a>
      <a href="#">Stella Nova</a>
      <a href="#">Temperley London</a>
      <a href="#">Victoria Beckham</a>
      <a href="#">Wal G</a>
      <a href="#">Yas</a>
    </div>
</div>
<div class="searchdown">
  <button class="dropsearchbtn">Size</button>
    <div class="searchdown-content">
      <a href="#">XS &nbsp;&nbsp;&nbsp;&nbsp; 32/34</a>
      <a href="#">S &nbsp;&nbsp;&nbsp;&nbsp; 36/38</a>
      <a href="#">M &nbsp;&nbsp;&nbsp;&nbsp; 38/40</a>
      <a href="#">L &nbsp;&nbsp;&nbsp;&nbsp; 42/44</a>
      <a href="#">XL &nbsp;&nbsp;&nbsp;&nbsp; 46/50</a>
      <a href="#">XXL &nbsp;&nbsp;&nbsp;&nbsp; 52/58</a>
    </div>
</div>
<div class="searchdown">
  <button class="dropsearchbtn">Price</button>
    <div class="searchdown-content">
      <a href="#">€ 10 - € 50 </a>
      <a href="#">€ 50 - € 75</a>
      <a href="#">€ 75 - € 100</a>
      <a href="#">€ 100,- & up</a>
    </div>
</div>
</div>
