<div class="search-container">
<div class="searchdown">
  <button class="dropsearchbtn">Category</button>
    <div class="searchdown-content">
    <a href="#">Blazers</a>
    <a href="#">Skinny Fit Suits</a>
    <%= link_to "Slim Fit Suits", listings_path(category: "Men")%>
    <a href="#">Suit Trousers</a>
    <a href="#">Three Piece Suits</a>
    <a href="#">Tuxedos</a>
    <a href="#">Tweed Suits</a>
    <a href="#">Waistcoast</a>
    <a href="#">Wedding Suits</a>
    </div>
</div>
<div class="searchdown">
  <button class="dropsearchbtn">Sort By</button>
    <div class="searchdown-content">
      <a href="#">New</a>
      <a href="#">Hot Rentals</a>
      <a href="#">Price Low / High</a>
      <a href="#">Price High / Low</a>
      <a href="#">Sale</a>
    </div>
</div>
<div class="searchdown">
  <button class="dropsearchbtn">Brand</i></button>
    <div class="searchdown-content">
      <a href="#">Everlane</a>
      <a href="#">Ciao Lucia</a>
      <a href="#">Chanel</a>
      <a href="#">Faithfull the Brand</a>
      <a href="#">Pact</a>
      <a href="#">Reformation</a>
      <a href="#">Staud</a>
      <a href="#">Topshop</a>
      <a href="#">Pact</a>
      <a href="#">Reformation</a>
      <a href="#">Search for [. . . . . ]</a>
    </div>
</div>
<div class="searchdown">
  <button class="dropsearchbtn">Size</button>
    <div class="searchdown-content">
      <a href="#">XS &nbsp;&nbsp;&nbsp;&nbsp; 32/34</a>
      <a href="#">S &nbsp;&nbsp;&nbsp;&nbsp; 36/38</a>
      <a href="#">M &nbsp;&nbsp;&nbsp;&nbsp; 38/40</a>
      <a href="#">L &nbsp;&nbsp;&nbsp;&nbsp; 42/44</a>
      <a href="#">XL &nbsp;&nbsp;&nbsp;&nbsp; 46/50</a>
      <a href="#">XXL &nbsp;&nbsp;&nbsp;&nbsp; 52/58</a>
      <a href="#">Others</a>
    </div>
</div>
<div class="searchdown">
  <button class="dropsearchbtn">Price</button>
    <div class="searchdown-content">
      <a href="#">€ 10 - € 50 </a>
      <a href="#">€ 50 - € 75</a>
      <a href="#">€ 75 - € 100</a>
      <a href="#">€ 100,- end up</a>
    </div>
</div>

</div>
