<%#  NEW RENTAL / Path : listing_rentals / URL : /listings/:listing_id/rentals %>
<div class="page-container">
  <div class="my-container">
    <div class="select-date">
      <% if current_user %>

                    <h1>Rental Period</h1>
                      <%= render 'form', rental: @rental %>
                  </div>




          <% else %>
          <br><br>
          <h1>Please Sign In first</h1>
            <br><br>
            <br><br>
            <br><br>
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-signup-forgotpassword py-2"%>
          <%= link_to "Become a member", new_user_registration_path, class: "btn btn-signup-forgotpassword py-2"%>
            <br><br>
            <br><br>
            <br><br>
            <br><br>
      <% end %>
    </div>
  </div>
</div>
