<!-- Ref: https://codemyui.com/hero-image-slider-scroll-animation/ -->

<div class="skw-pages">
  <div class="skw-page skw-page-1 active">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
        <div class="container_banner">
        <%= link_to "DressHim", listings_path, class: "button-him" %>
          </div>
				</div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <div class="container_banner">
            <%= link_to "", listings_path, class: "button-her" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
