

<div class="container_banner">
  <%= video_tag "banner_video.mp4", autoplay: :autoplay, loop: true, muted: true, class: "video" %>
  <div class="button_him">
    <%= link_to "DressHim", "#", class: "button-home" %>
  </div>
  <div class="button_her">
    <%= link_to "DressHer", "#", class: "button-home" %>
  </div>
 </div>
