
<page class="page-container">
  <h1>DressUs Insurance</h1>

  <p>
    Getting the best deal on your clothing hire shop insurance means not only obtaining the best price from a range of insurance companies but also making sure that the cover is right for you. Our on-line clothing hire shop insurance insurance services offers you access to great deals on retailers from or leading retail insurance providers and insurers.
    What is clothing hire shop insurance?
    Businesses face risks on a daily basis and this is also true for the clothing hire shop, whether this be from the risk of property damage or from costly legal action from either third parties or employees. The package policy pulls together the core covers that most businesses need to provide them with a comprehensive insurance package to protect against these risks.

    What cover does a clothing hire shop insurance policy provide?
    The standard policy cover will vary from insurer to insurer, but most policies will provide;

    Property and Material Damage Cover: Protecting the physical assets of the business such as stock, business contents, any buildings, and including goods in transit and loss of business money
    Business Interruption: offering financial protection in respect of any reduction in turnover following a material damage claim at the business.
    Combined Liabilities: Public liability, product liability and employers liability insurance insurance protecting the policyholder in respect of their legal liability towards the public and employees arising out of the business.
    Who needs clothing hire shop insurance?
    All people in business have a different approach to risk and some are prepared to take more chances than others, and whilst all prudent business people should take steps to make sure they are correctly insured, some take a decision to not do so.

    There are reasons why this can be a false economy.

    Within the shop insurance policy, employers liability is the only statutory requirement for a clothing hire shop when the business employs people.

    However any clothing hire shop that supplies products and has contact with members of the public should consider public liability and product liability as an essential insurance.

    You may have a requirement under the term of any lease to insure either buildings or plant and machinery.

    For some, the insurance of their physical stock is not a priority for others it is essential, but in truth the cover offered by the package insurance policy is often the best way and the most cost effective to obtain the liability insurance you need for your clothing hire shop .

    How much is clothing hire shop insurance?
    The cover under a shop package is surprisingly inexpensive when you consider the protection that you receive from the policy. Policies start from around £200 per year but in truth the only way to accurately assess the cost is by obtaining an automatic quote that is tailored to your business. As with all insurance, insurers base the premiums upon the risks proposed to them and key factors affecting the premium you will pay are; the exact nature of yourclothing hire  shop, where it is and the the sums insured at risk in the premises, this along with details of any previous claims will form the basis for the premium calculation.

    How to buy clothing hire shop insurance?
    You can apply on on-line for instant quotes for your clothing hire shop insurance or alternatively you can call us direct to discuss your requirements with a broker who will be delighted to assist you.
  </p>




</page>
