.button {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $black;
  transition: background 0.3s ease;
}

.button:hover {
  background: $white;
  color: $black;
  border: $black;
}
