h1 {
  color: black;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  justify-content: space-around;
}


.card-item {
  padding: 16px;
  margin: 0px 0px 16px 16px;
  height: 425px;
  width: 275px;
  background: #fffbfb;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;
}

.card-item img {
  height: 335px;
  width: 100%;
  object-fit: cover;
}

.card-item-price {
  width: 60px;
  height: auto;
  background: $black;
  text-align: center;
  position: absolute;
  top: 32px;
  right: 16px;
  color: $white;
  font-size: 14px;
}

.card-item .card-item-infos {
  padding: 14px 16px 0px 2px;
  display: flex;
  color: $black;
  justify-content: space-between;
  align-items: flex-start;
}

.card-item-brand {
  font-size: 16px;
  font-weight: bold;
}

.card-item-size p {
  font-size: 14px;
}

.card-item-likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-nb-likes {
  font-size: 12px;
  margin: 5px;
  position: relative;
  left: 45px;
  top: -12px;

}

.fa-regular {
  margin-right: 1px;
}
