.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0px 25px;
  color: rgba(0, 0, 0, 0.3);
  border-top-style: solid;
  border-width: 1px;
  border-color: #E0E0E0;
}
.footer-right {
  display: flex;
  align-items: center;
  color: $black;
}

.footer-right a {
  text-decoration: none;
  font-size: 22px;
  width: 50px;
  color: $black;
  transition-duration: 0.5s;
}

.footer-right a:hover {
  color: #E0E0E0;
  transition-duration: 0.5s;
}

.footer .fa-bars::before {
  color: $black;
  font-size: 20px;
  position: relative;
  left: 15px;
}
/* Dropup Button */
.dropbtn {
  background-color: white;
  color: $black;
  font-size: 24px;
  border: none;
  transition-duration: 0.5s;
  width: 100px;
}

.dropup:hover .dropbtn {
  color: $black;
  transition-duration: 0.5s;
}



/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
  width: 50px;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 300px;
  bottom: 35px;
  font-size: 14px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;

}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 15px 0px 15px 0px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {
  transition-duration: 0.5s;
  background-color: $black;
  color: white;
}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
