// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "footer";
@import "banner";
@import "navbar_dressus";
@import "searchbar";
@import "card_items";
@import "details_items";
@import "form_date";
@import "items_bag";
@import "likes.scss";


.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1320px;
  margin-top: 150px;
}

.navbar-container {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
}
