// SHOW RENTAL

// DISPLAY PAGE

.all-bag-page {
  // margin: 10px;
  margin-top: 40px;
  // padding: 15px 35px 0px 155px;
  font-family: Open Sans;

  .card-bag-item {
    display: grid;
    grid-template-columns: auto auto auto;

    .title-bag {
      font-size: 30px;
      padding-bottom: 10px;
      font-family: Open Sans;
      color: black;
    }
  }

// PICTURE RENTAL

  .card-images-bag img {
    height: 490px;
    margin-top: 20px;
    margin-right: 20px;
    // object-fit: contain;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;
  }

  // DESCRIPTION PRODUCT

  .bag-item {
    color: black;
    width: max-content;
    padding: 200px 0px 35px 30px;
    font-family: Open Sans;

    .card-bag-item-brand {
      font-size: 30px;
      padding-bottom: 4px;
      font-weight: bold;
    }

    .card-bag-item-price {
      font-size: 28px;
      font-weight: lighter;
    }

    .card-bag-item-size {
      font-size: 16px;
      font-weight: lighter;
    }

    .card-bag-item-description {
        font-size: 16px;
        font-weight: lighter;
        font-style: italic;
        padding-bottom: 4px;
    }
  }

  // ORDER SUMMARY

  .order-summary {
    margin-left: 30px;
    margin-top: 95px;
    height: 420px;
    width: 390px;
    background-color: #E1E1E1;

    .card-summary {
      // display: grid;
      margin: 25px;
    }

  }

  // DETAIL LINE

  .line {
    background-color: white;
    height: 1px;
    width: 100%;
    margin-bottom: 15px;
  }
  // DETAILS ORDER SUMMARY
  .order-sum-title {
    color: #373636;
    font-weight: bold;
  }
  .order-parag {
    color: #373636;
  }

  .order-chosen {
    color: #373636;
    font-weight: bold;
    align-items: center;
  }

  .order-delivery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  .order-rental-period {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

  }

  .order-rental-price {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

  }

  .order-insurance-price {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

  }

  .order-delivery-price {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

  }

  .order-total-price {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

    .order-parag {
      p {
        font-size: 20px;
      }
    }

  }

  // BUTTON

  .order-button {
    text-align: -webkit-center;

    a {
      width: 110px;
      background: #373636;
      text-align: center;
      align-items: center;
      border-radius: 2px;
      transition: background 0.3s ease;
      margin-top: 30px;
      // margin: 129px;
      padding: 15px;
      text-decoration: none;
      color: white;
    }

    a:hover{
      border-radius: 2px;
      background-color: #666565;
      transition-duration: 0.5s;
      border-color: #666565 ;
      text-decoration: none;
    }
  }
}
