// SHOW RENTAL

// DISPLAY PAGE

.all-bag-page {
  // margin: 10px;
  margin-top: 40px;
  // padding: 15px 35px 0px 155px;
  font-family: Open Sans;

  .card-bag-item {
    display: flex;
    align-items: center;



  }

// PICTURE RENTAL

  .card-images-bag img {
    height: 250px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 100px;
    // object-fit: contain;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;
  }

  // DESCRIPTION PRODUCT

  .bag-item {
    color: black;
    width: max-content;
    margin: 0px;
    font-family: Open Sans;

    .card-bag-item-brand {
      font-size: 18px;
      padding-bottom: 4px;
      font-weight: bold;
    }

    .card-bag-item-price {
      font-size: 18px;
      font-weight: lighter;
    }

    .card-bag-item-size {
      font-size: 16px;
      font-weight: lighter;
    }

    .card-bag-item-description {
        font-size: 14px;
        font-weight: lighter;
        font-style: italic;
        padding-bottom: 4px;
    }

    .card-bag-item-user {
      margin-top: 20px;
      font-size: 12px;
    }
  }

  // ORDER SUMMARY

  .order-summary {
    margin-left: 30px;
    margin-top: 0px;
    height: 450px;
    width: 400px;
    background-color: $white;
    border: solid $black;

    .card-summary {
      // display: grid;
      margin: 45px 25px;

      p {
      font-size: 14px;
    }

    }

  }

  // DETAIL LINE

  .line {
    background-color: $black;
    height: 1px;
    width: 100%;
    margin-bottom: 15px;
  }
  // DETAILS ORDER SUMMARY
  .order-sum-title {
    color: #373636;
    font-weight: bold;


    h2 {
    font-size: 18px;
    }
  }
  .order-parag {
    color: #373636;
  }

  .order-chosen {
    color: #373636;
    font-weight: bold;
    align-items: center;
  }

  .order-delivery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  .order-rental-period {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

  }

  .order-rental-price {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

  }

  .order-insurance-price {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

  }

  .order-delivery-price {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

  }

  .order-total-price {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

    .order-parag {
      p {
        font-size: 16px;
      }
    }

  }

  // BUTTON

  .order-button {
    width: 200px;
    height: 45px;
    background: #3C3B3B;
    text-align: center;
    justify-items: center;
    position: relative;
    left: 70px;
    padding-top: 10px;

    a {
      text-decoration: none;
      color: $white;
    }
  }
}

.title-bag {
  font-size: 24px;
  padding-bottom: 10px;
  color: $black;
  display: flex;
  justify-content: center;
}
