.navbar-lewagon {
  justify-content: space-between;
  background: white;

  h1 {font-family: 'Prata', serif;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
