.searchbar {
display: flex;
background-color: $black;
justify-content: space-around;
letter-spacing: 1px;
align-content: center;
height: 35px;
padding: 0px 30px;
font-weight: lighter;

.dropdown-item{
    align-self: center;
    margin: 0px;
    color: white;
  }
}

.search-container {
  width: 100%;
  display: flex;
  background-color: $black;
  justify-content: space-around;
  align-items: center;
  height: 35px;
}

.dropsearchbtn {
  background-color: $black;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
  width: 190px;
  height: 35px;
}


.searchdown:hover .dropbtn {
  color: rgb(170, 170, 170);
}



/* The container <div> - needed to position the dropup content */
.searchdown {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.searchdown-content {
  display: none;
  position: absolute;
  background-color: $black;
  min-width: 200px;
  max-height: 450px;
  top: 40px;
  font-size: 14px;
  z-index: 1;
  padding: 10px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Links inside the dropup */
.searchdown-content a {
  color: white;
  padding: 15px 0px 15px 0px;
  text-decoration: none;
  letter-spacing: 1px;
  display: block;
  text-align: center;
}

/* Change color of dropup links on hover */
.searchdown-content a:hover {
  transition-duration: 0.7s;
  background-color: white;
  color: $black;
}

/* Show the dropup menu on hover */
.searchdown:hover .searchdown-content {
  display: block;
}
